@font-face {
  font-family: "Barlow";
  src: url(../src/assets/Barlow.ttf);
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #a7a7a7;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--main_color);
}

.App {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00b894;
}

.card {
  width: 600px;
  height: auto;
  background-color: #fff;
  border-radius: 10px;
  text-align: center;
  overflow: hidden;
  border: 1px solid #00b894;
  box-shadow: 0px 2px 5px #00000035;
}

h1 {
  font-size: 36px;
  color: #00b894;
  font-weight: bold;
  border-bottom: 1px solid #00b894;
  padding: 5px;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
  height: 300px;
  overflow: auto;
  display: flex;
  flex-direction: column-reverse;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  width: 100%;
  border-bottom: 1px solid #ddd;
  padding-left: 10px;
  background-color: #eee;
}

li p.item {
  width: calc(100% - 110px);
  text-align: left;
}

li.empty {
  height: 100%;
  padding: 0;
  background-color: #fff;
}

li.empty p {
  width: 100%;
}

button.add,
button.delete {
  width: 100%;
  background-color: #fff;
  border: 1px solid #ddd;
  outline: unset;
  box-shadow: unset;
  padding: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

button.add {
  background-color: #00b894;
  border: 1px solid #00b894;
  color: #fff;
  height: 45px;
}

button.add:hover {
  background-color: #fff;
  border: 1px solid #fff;
  border-top: 1px solid #00b894;
  border-left: 1px solid #00b894;
  color: #00b894;
}

button.delete {
  background-color: #e53935;
  color: #fff;
  width: 100px;
}

form {
  display: flex;
}

form input {
  width: 100%;
  border: 1px solid #fff;
  border-top: 1px solid #00b894;
  padding: 5px;
  padding-left: 10px;
  font-size: 16px;
  height: 45px;
  outline: none;
}

.Toastify__toast-body > div:last-child {
  text-align: left;
}

@media (max-width: 576px) {
  .card {
    width: 95%;
  }
}
